<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Carros</title>
</head>
<body>
    <ul>
        {% for car in data %}
            <li>{{ car.modelo }}</li>
        {%  endfor %}
    </ul>
</body>
</html>